<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Hope you are enjoying Splurty, which was built by me, with the help from <a target="_blank" href="http://firehoseproject.com">Firehose Project</a>.  
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'shipra.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Shipra Prakash</h2>
    <br />
    <p>
      Shipra Prakash is a writer and a marketing professional.  In the past, she worked at a company based in the United Nations, and also worked in the education and health field.  She received 3rd prize in a writing contest run by the Fund for American Studies, and she is very interested in technology.  
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />





