<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About</h1>

  <p>
    Add your quote!
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'shipra1.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Thank You For Visiting</h2>
    <br />
    <p>
      Hi that's me.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />





