<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Welcome to Splurty! Create your quote.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'shipra.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Thank You For Visiting</h2>
    <br />
    <p>
      That's me. I am currently enrolled in the Firehose Project's Software Enginner program.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />





